<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BuckBuster Rental</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
