<nav>
  <h1>BuckBuster Rentals</h1>
  <img
    class="logo"
    src="/images/Blockbuster_logo 1.png"
    alt="buckbuster logo"
  />
  <div class="navoptions">
    <span class="manager"><a href="/stores">manager</a></span>
    <span class="owner"><a href="/stores/top10">owner</a></span>
  </div>
</nav>
