<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body class="notfound">
    <%- include('./partials/nav.ejs') %>
    <div class="lost content">
      <h2 class="missing">Oops! Missing content 404</h2>
    </div>
  </body>
</html>
